In [2]:
import pandas as pd

In [4]:
uni_df = pd.read_excel(".\data\Fallstudiendaten_Uni.xlsx")
uni_df

,Participant,Studiengang,Standort,Besuch Wirtschaftsmathematik,Geschlecht,Geburtsjahr,Beziehungsstatus,Durchschnittsnote im Abitur,Mathematiknote im Abitur,LK_Deutsch,...,Zeit-Sonstiges,Wechsel Praxispartner,Lebenszufriedenheit,Zufriedenheit mit Praxispartner,Zufriedenheit mit finanzieller Situation,Zufriedenheit mit Gesundheit,Zufriedenheit mit Kommilitonenaustausch,Studienzufriedenheit,Mathenote im 2. Semester,Zufriedenheit mit Note
0,53,4,21,5.0,1,24.0,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,55,4,21,6.0,2,19.0,3.0,3.0,3.0,0.0,...,1.0,2.0,5.0,3.0,2.0,5.0,7.0,7.0,1.3,2.0
2,56,4,21,6.0,2,22.0,1.0,3.3,2.8,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,57,16,21,8.0,2,21.0,2.0,2.3,3.0,1.0,...,NaN,2.0,6.0,3.0,2.0,6.0,5.0,6.0,NaN,NaN
4,58,16,21,5.0,1,19.0,1.0,NaN,NaN,NaN,...,NaN,3.0,10.0,10.0,6.0,10.0,5.0,10.0,1.7,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
881,1022,24,18,NaN,2,23.0,NaN,2.0,2.0,0.0,...,36.0,3.0,4.0,6.0,10.0,3.0,1.0,6.0,2.0,3.0
882,1023,24,18,NaN,2,23.0,2.0,3.3,4.0,0.0,...,NaN,3.0,9.0,8.0,5.0,10.0,6.0,7.0,4.0,2.0
883,1024,4,18,NaN,1,20.0,NaN,NaN,3.0,0.0,...,31.0,3.0,7.0,7.0,3.0,6.0,8.0,6.0,3.7,3.0
884,1025,5,18,6.0,1,22.0,1.0,2.0,2.0,0.0,...,NaN,3.0,8.0,8.0,7.0,9.0,9.0,9.0,3.0,2.0
885,1026,5,18,NaN,2,19.0,3.0,3.0,3.0,0.0,...,NaN,3.0,7.0,8.0,6.0,8.0,9.0,4.0,5.0,2.0